.bodyFooterSB {
    background-color: #32292F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    bottom: 0;
    position: fixed;
    z-index: 100;
    border-radius: 30px 30px 0 0;
    color: white;
  }
  
  .busstopHour {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 height: 50%;
 padding: 0.5rem;
 width: 8rem;
  }

  .busstopHour p{
    margin: 0;
  }

  .busstopHour img{
    width: 30%;
    justify-content: center;
    display: flex;
  }
  
  .busstopBus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
  padding: 0.5rem;
  width: 8rem;
  }

  .busstopBus p{
    margin: 0;
  }

  .busstopBus img{
    width: 30%;
    justify-content: center;
    display: flex;
  }
  
  .busstopUser {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 height: 50%;
 padding: 0.5rem;
 width: 8rem;
  }

  .busstopUser p{
    margin: 0;
  }

  .busstopUser img{
    width: 30%;
    justify-content: center;
    display: flex;
  }

  .busstopChat {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 height: 50%;
 width: 8rem;
  }

  .busstopChat p{
    margin: 0;
  }

  .busstopChat img{
    width: 30%;
    justify-content: center;
    display: flex;
  }