.container-stopcreate {
  max-width: 400px;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #ffffff;
}

h2 {
  text-align: center;
  color: #333;
}

.input {
  margin-top: 10px;
}

.error-message {
  color: #ff4d4f;
  margin-top: 10px;
}

.buttonCreateStop {
  width: 100%;
  margin-top: 20px;
  background-color: #f2a900;
}

.buttonCancel {
  width: 100%;
  margin-top: 10px;
  background-color: #ff4d4f;
}

.buttonCancel:hover {
  background-color: #ff4d4f;
}